@import url('https://fonts.googleapis.com/css?family=PT+Serif');

body {
    background: #3C4B5A;
    font-family: 'PT Serif', Helvetica, Arial, sans-serif;
}

pokemon-list {
    display: block;
    margin: 2em auto;
    text-align: center;
    width: 60%;
}

pokemon-list input[type="text"] {
    background: transparent;
    border: none;
    border-bottom: 2px solid #CDDC39;
    font-size: 1.5em;
    width: 80%;
    outline: none;
    color: white;
}

::-webkit-input-placeholder { 
  color: white;
  font-weight: lighter;
}

pokemon-list-item {
    cursor: pointer;
    background: white;
    border-radius: 5px;
    box-sizing: border-box;
    display: inline-block;
    height: 225px;
    margin: 1em;
    text-align: center;
    vertical-align: middle;
    width: 225px;
    transition: transform 0.25s ease;
}

pokemon-list-item:hover {
    transform: scale(1.1);
}

pokemon-list-item:active {
    transform: scale(0.9);
}

pokemon-list-item .pokemon-list-item__img {
    background: #CDDC39;
    height: 90%;
    width: 90%;
    margin: 5%
}

pokemon-list-item .pokemon-list-item__img img {
    height: 100px;
    margin-top: 2.5em;
}

pokemon-list-item h1 {
    color: #28323c;
    font-size: 1.4em;
    text-transform: capitalize;
    margin-top: -18%;
    background: white;
    width: 60%;
    margin-left: 20%;
    border-radius: 1px;
    position: relative;
}

pokemon-list-item h1:before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 0;
    height: 0;
    left: -30px;
    border: white 15px solid;
    border-color: transparent white white transparent;
}

pokemon-list-item h1:after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 0;
    height: 0;
    right: -30px;
    border: white 15px solid;
    border-color: transparent transparent white white;
}

pokemon-detail {
    background: white;
    display: block;
    width: 30%;
    text-align: center;
    padding: 1em;
    margin: 1em auto;
    border-radius: 5px;
}

pokemon-detail h1 {
    text-transform: capitalize;
}

pokemon-detail ul {
    padding-top: 1em;
    width: 40%;
    text-align: left;
    margin: 0 auto;
}

pokemon-detail li {
    list-style: none;
}

pokemon-detail img {
    height: 150px;
}

pokemon-detail b {
    text-transform: capitalize;
}